.header {
  padding: 20px 30px;
  background-color: white;
  border-bottom: 4px groove #4cb1f7;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  @import url("https://font.googleapis.com/css2?family=Pacifico&display=swap");
  font-family: "Pacifico", cursive;
  display: inline-block;
  width: calc(100% - 220px);
  font-size: 2.4rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.562);
}
.header-auth {
  width: 190px;
  position: relative;
}
.header-auth img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header-dropdown {
  position: absolute;
  top: 50px;
  list-style: none;
  margin: 0;
  width: 170px;
  background: white;
  z-index: 5;
  cursor: pointer;
  text-align: center;
}
.header-dropdown li {
  margin: 0;
  font-size: 1.6rem;
  padding: 15px 10px;
}

.first-letter {
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  animation: pulse 1s linear infinite;
  -webkit-animation: pulse 1s linear infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hero {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg-hero.jpg);
  position: relative;
  top: 35px;
  z-index: 1;
  width: 100%;
  height: 500px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  color: white;
  border-bottom: 4px groove black;
}
.hero-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
}
.hero-body h1 {
  font-size: 4.5rem;
  border-top: 4px groove #ffec44;
}
.hero-body p {
  font-size: 1.6rem;
  margin-top: 5px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background: transparent !important;
  color: white !important;
  padding: 7px 20px;
  font-size: 1.7rem !important;
  opacity: 1 !important;
  margin-right: 20px;
  border: 2px solid white !important;
}
.login-btn:active {
  background: #0339a6 !important;
  border: 2px solid #0339a6 !important;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}

.logout-btn {
  width: 100% !important;
  opacity: 1 !important;
  font-weight: 700 !important;
  color: black !important;
  padding: 7px 20px;
  font-size: 1.7rem !important;
  opacity: 1 !important;
  border: 2px solid white !important;
}
.logout-btn:active {
  background: black !important;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  color: white !important;
}

.home-courses {
  margin-top: -40px;
  width: 100%;
  background: white;
  position: relative;
}
.home-courses h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 2.9rem;
  padding: 10px;
  position: relative;
  background-color: black;
  padding-top: 90px;
  padding-bottom: 20px;
}
.home-courses h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: white;
  position: absolute;
  bottom: 15px;
  left: 10px;
}
.home-courses-container {
  padding: 5px;
  height: 100%;
}
.home-courses small {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 1.15rem;
  color: black;
  color: #0554f2;
  font-weight: 800;
}

.notification {
  width: 100%;
  position: relative;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: white;
}
.notification h1 {
  position: absolute;
  font-size: 2.6rem;
  width: 100%;
  padding: 20px;
  animation: backAndForth 2s ease infinite alternate;
  -webkit-animation: backAndForth 2s ease infinite alternate;
}

@keyframes backAndForth {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(5%);
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
  }
}
.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 20px;
  column-gap: 20px;
  justify-content: center;
  background: white;
  padding: 30px 3px;
}
.grid-item {
  width: 100% !important;
}
.grid-item video {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.course-body {
  min-height: 220px;
  max-height: 100%;
  width: 100%;
  background: white;
  box-shadow: 0 8px 12px -6px black;
  padding: 10px;
  overflow-y: hidden;
  position: relative;
}
.course-body p {
  margin-top: 8px;
  padding: 4px 2px;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
  color: black;
  word-wrap: break-word;
}
.course-body-footer {
  position: absolute;
  text-align: center;
  width: 94%;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  bottom: 6px;
  margin-top: 6px;
}
.course-body-footer p {
  margin: 0;
  width: calc(100% - 50px);
  text-align: left;
}
.course-body-footer i {
  font-size: 2.2rem;
  width: 50px;
  cursor: pointer;
}
.course-body-footer .fa-heart {
  color: #ffe502;
}
.course-body-footer .fa-heart-o {
  color: black;
}
.course-body h4 {
  font-size: 1.8rem;
  color: black;
  width: 100%;
  word-wrap: break-word;
}
.course-body .author-name {
  position: absolute;
  bottom: 8px;
  width: 90%;
  opacity: 0.7;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: left;
  margin-left: 25px;
}

.close {
  margin-top: 20px;
  background: black;
  border: 2px solid black;
  box-shadow: 0 1px 5px -1px black;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  font-family: cursive;
  position: absolute;
  top: 8px;
  right: 20px;
  font-weight: 600;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 10;
}
.close:active {
  box-shadow: 0 2px 5px -1px black;
  font-size: 1.5rem;
}

.footer {
  padding: 40px 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.918);
  background: #010f3e;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 50px;
}
.footer small {
  font-size: 1.3rem;
  word-spacing: 1px;
  opacity: 0.9;
}
.footer strong {
  margin: 0 5px;
  @import url("https://font.googleapis.com/css2?family=Pacifico&display=swap");
  font-family: "Pacifico", cursive;
  letter-spacing: 5px;
  color: #ffec44;
}

.dashboard {
  background-color: white;
  padding: 30px;
  position: relative;
  top: 82px;
}
.dashboard h1 {
  font-size: 4.5rem;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.dashboard-nav {
  position: absolute;
  top: 10px;
  display: flex;
  width: 80px;
  align-items: center;
}
.dashboard-nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #4cb1f7;
  font-weight: 700;
}
.dashboard-nav i {
  font-size: 1.6rem;
  color: black;
  margin-right: 7px;
}

.uploadForm {
  margin-top: 30px;
  padding: 30px 30px 0;
  width: 100%;
  background-color: #ecf1f5;
}

.form-group {
  width: 100%;
  margin-bottom: 30px;
}
.form-group input,
.form-group textarea {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 0 4px 5px -3px gainsboro;
}
.form-group input:focus,
.form-group textarea:focus {
  outline: 1px auto #4d90fe;
  outline-offset: -2px;
}
.form-group textarea {
  height: 150px;
}

.button-blue {
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #0339a6;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
.button-blue:hover {
  background-color: white;
  color: black;
  outline: 4px solid #0339a6;
}

.video-label {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}

.spinner-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner div {
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}

.spinner div:nth-child(1) {
  animation-delay: -0.036s;
}

.spinner div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.spinner div:nth-child(2) {
  animation-delay: -0.072s;
}

.spinner div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.spinner div:nth-child(3) {
  animation-delay: -0.108s;
}

.spinner div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.spinner div:nth-child(4) {
  animation-delay: -0.144s;
}

.spinner div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.spinner div:nth-child(5) {
  animation-delay: -0.18s;
}

.spinner div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.spinner div:nth-child(6) {
  animation-delay: -0.216s;
}

.spinner div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.spinner div:nth-child(7) {
  animation-delay: -0.252s;
}

.spinner div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.spinner div:nth-child(8) {
  animation-delay: -0.288s;
}

.spinner div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 20;
  background-color: rgba(5, 68, 170, 0.55);
}

.uploadModal {
  text-align: center;
  width: 500px;
  height: 360px;
  background: white;
  padding: 60px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.uploadModal h3 {
  font-size: 2rem;
  color: #302c2c;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadModal img {
  width: 60px;
  height: 60px;
  animation: scale 0.9s ease infinite alternate;
  -webkit-animation: scale 0.9s ease infinite alternate;
}

@keyframes scale {
  from {
    width: 65px;
    height: 65px;
  }
  to {
    width: 60px;
    height: 60px;
  }
}
.progress {
  background-color: #4cb1f7;
  width: 0;
  margin-top: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.progress-bar {
  width: 100%;
  position: relative;
  height: 20px;
}

.messageModal {
  text-align: center;
  width: 500px;
  height: 200px;
  background: white;
  padding: 60px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.messageModal p {
  font-size: 2rem;
  width: 90%;
  margin-top: 10px;
}

.banner {
  height: 320px;
  width: 100%;
  position: relative;
}
.banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}
.banner-overlay {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.banner a {
  z-index: 2;
  padding: 10px 20px;
  position: absolute;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.banner a:hover {
  background: black;
  color: white;
  border: 2px solid black;
}

.instructorPage {
  height: 100%;
  position: relative;
  background: white;
}
.instructorPage-hero {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/instructor-bg.jpg);
  position: relative;
  top: 35px;
  z-index: 1;
  width: 100%;
  height: 500px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
  color: white;
}
.instructorPage-hero-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
}
.instructorPage-hero-body h1 {
  font-size: 4.5rem;
  border-top: 4px groove #ffec44;
}
.instructorPage-main {
  position: relative;
}
.instructorPage-main h2 {
  color: black;
  margin-top: -35px;
  margin-bottom: 30px;
  font-size: 2.9rem;
  padding: 10px;
  background-color: white;
  padding-top: 90px;
  padding-bottom: 20px;
}
.instructorPage a {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  background: transparent;
  color: white;
  padding: 15px 20px;
  font-size: 1.7rem;
  opacity: 1;
  margin-right: 20px;
  border: 2px solid white;
}
.instructorPage a:active {
  background: #0339a6;
  border: 2px solid #0339a6;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}

@media (min-width: 0) and (max-width: 840px) {
  .hero-body {
    width: 99%;
    text-align: center;
  }
  .hero-body p {
    width: 419px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 700px) {
  .header-logo {
    width: calc(100% - 160px);
    font-size: 1.8rem;
  }
  .header-auth {
    width: 150px;
    text-align: right;
  }
}
@media (max-width: 680px) {
  .banner a {
    display: inline-block;
    text-align: center;
    font-size: 2.2rem;
    width: 250px;
  }
}
@media (max-width: 639px) {
  .grid-container {
    display: inline-block !important;
  }

  .grid-item:not(:last-child) {
    margin-bottom: 35px;
  }

  .instructorPage-hero-body {
    width: 80%;
  }

  .uploadModal {
    width: 90%;
  }

  .messageModal {
    width: 90%;
  }
}
@media (max-width: 520px) {
  .hero-body {
    padding: 5px;
  }
  .hero-body h1 {
    font-size: 3.5rem;
  }
  .hero-body p {
    width: 100%;
    text-align: center;
  }

  .instructorPage-hero-body {
    width: 86%;
  }
  .instructorPage h1 {
    font-size: 3.5rem;
  }

  .dashboard {
    padding: 30px 20px;
  }
  .dashboard h1 {
    font-size: 3.5rem;
  }
  .dashboard .form-group input,
.dashboard .form-group textarea {
    padding: 13px 10px;
    font-size: 1.6rem;
  }
  .dashboard .video-label {
    font-size: 1.6rem;
    letter-spacing: 0.4px;
  }
  .dashboard .button-blue {
    padding-right: 2px;
    padding-left: 2px;
    font-size: 2rem;
  }

  .notification h1 {
    font-size: 2.2rem;
  }

  .button-wrapper {
    display: inline-block;
  }

  .login-btn {
    margin-right: 0;
  }
}
@media (max-width: 300px) {
  .hero-body h1 {
    font-size: 3.2rem;
  }

  .banner a {
    font-size: 1.8rem;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
  }

  .instructorPage h1 {
    font-size: 3.2rem;
  }

  .dashboard h1 {
    font-size: 3.2rem;
  }

  .notification h1 {
    font-size: 2rem;
  }
}
@media (max-width: 280px) {
  .first-letter {
    display: inline;
    animation: none;
    -webkit-animation: none;
  }

  .instructorPage a {
    padding: 15px 5px;
    font-size: 1.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
