.allCourses {
  background: white;
  padding: 10px;
  width: 100%;

  h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 2.9rem;
    padding: 10px;
    position: relative;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h2::after {
    content: "";
    width: 100px;
    height: 3px;
    background: white;
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
}

.fav-icon {
  position: absolute;
  bottom: 5px;
  padding: 10px;
  margin-top: 8px;

  i {
    font-size: 2.2rem;
    cursor: pointer;
  }

  .fa-heart {
    color: darken($yellow, 13%);
  }

  .fa-heart-o {
    color: black;
  }
}
