.header {
  padding: 20px 30px;
  background-color: white;
  border-bottom: 4px groove $color-4;
  &:hover {
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    padding: 25px 35px;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: inline-block;
    width: calc(100% - 220px);
    font-size: 2.4rem;
    font-family: cursive;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.562);
  }
}
