.home-courses {
  margin-top: -70px;
  width: 100%;
  background: white;
  position: relative;

  h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 2.9rem;
    padding: 10px;
    position: relative;
    background-color: black;
    padding-top: 90px;
    padding-bottom: 20px;
  }

  h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background: white;
    position: absolute;
    bottom: 15px;
    left: 10px;
  }

  &-container {
    padding: 5px;
    height: 100%;
  }

  small {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 1.15rem;
    color: black;
    color: $color-1;
    font-weight: 800;
  }
}
