.messageModal {
  text-align: center;
  width: 500px;
  height: 200px;
  background: white;
  padding: 60px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  p {
    font-size: 2rem;
    width: 90%;
    margin-top: 10px;
  }
}
