@media (min-width: 0) and (max-width: 840px) {
  .hero {
    &-body {
      width: 99%;
      text-align: center;

      p {
        width: 419px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media (max-width: 700px) {
  .header {
    &-logo {
      width: calc(100% - 160px);
      font-size: 1.8rem;
    }

    &-auth {
      width: 150px;
      text-align: right;
    }
  }
}

@media (max-width: 639px) {
  .grid-container {
    display: inline-block !important;
  }

  .grid-item:not(:last-child) {
    margin-bottom: 35px;
  }
}

@media (max-width: 520px) {
  .hero {
    &-body {
      padding: 5px;

      h1 {
        font-size: 3.5rem;
      }

      p {
        width: 100%;
        text-align: center;
      }
    }
  }

  .loginNotification {
    h1 {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: 520px) {
  .button-wrapper {
    display: inline-block;
  }

  .login-btn {
    margin-right: 0;
  }
}

@media (max-width: 280px) {
  .first-letter {
    display: inline;
    animation: none;
    -webkit-animation: none;
  }
}
